<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	<appender name="RootConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		<level>TRACE</level>
	</filter>
	<encoder>
		<pattern>%date %-5level %logger{0} - %message%n%exception{short}</pattern>
	</encoder>
</appender>

	<logger name="org.arjenm.phpsecurity.Scanner" level="ERROR" />

	<root>
		<level value="INFO" />
		<appender-ref ref="RootConsoleAppender" />
	</root>

</configuration>
